/* General style */
@media screen and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  /* Set the body to be a Flex container */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(
      315deg,
      rgb(241, 241, 241) 3%,
      rgba(60, 132, 206, 1) 38%,
      rgba(48, 238, 226, 1) 68%,
      rgb(4, 7, 79) 98%
    );
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
  }

  .wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
  }

  @keyframes wave {
    2% {
      transform: translateX(1);
    }
    25% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(-50%);
    }
    75% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(1);
    }
  }

  /* Header styling */
  header {
    background-image: linear-gradient(to top right, #21618c, rgb(42, 42, 42));
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #header-links {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin-left: 0;
  }

  header h1 {
    order: 2;
    color: cornflowerblue;
  }

  .header-anchor {
    text-decoration: none;
    color: white;
    width: 25%;
    padding: 5px;
    transition: 0.3s;
    text-align: center;
    border-radius: 20px;
  }

  .header-anchor.active {
    background-color: rgba(33, 97, 140, 0.7);
    border: 2px solid #21618c;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
  }

  /* Main styling */
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #main-container {
    height: auto;
    width: 80vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.06);
  }

  #main-container img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  #main-text {
    width: 100%;
    text-align: center;
  }

  #main-text p {
    opacity: 1;
    font-size: 18px;
    visibility: visible;
  }

  #hide {
    display: none;
  }

  #JosefIMG {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 2vh;
  }

  /* Footer styling */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-image: linear-gradient(to top right, #21618c, rgb(42, 42, 42));
  }
}
